/*------------------------------------*\
    #GENERAL STYLES
\*------------------------------------*/

html {
  font-size: 100%;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5em;
  color: #666666;
}

/*------------------------------------*\
    #TYPOGRAPHY
\*------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
  clear: both;
  line-height: 1.3em;
  color: #281201;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 3.250em;
}

h3 {
  font-size: 2.5em;
  line-height: 1.25em;
}

h4 {
  font-size: 2em;
  line-height: 1.25em;
}

h5 {
  font-family: 'Inter', sans-serif;
  font-size: 1.15em;
  font-weight: 400;
  color: #121212;
}

h6 {
  font-family: 'Inter', sans-serif;
  font-size: 0.8em;
  font-weight: 500;
  color: #121212;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
  color: inherit;

}

a {
  color: #bb9356;
  text-transform: uppercase;
}

/*------------------------------------*\
    #Colours
\*------------------------------------*/

.dark-bg {
  background-color: #FBFBFB;
}

/*------------------------------------*\
    #Buttons
\*------------------------------------*/

.btn {
  color: #ffffff;
  display:inline-block;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 40px;
  border: 1px solid #bb9356;
  cursor: pointer;
  background-color: #bb9356;
  border-radius: 3px;
}

.btn:hover {
  background-color: #b47b4a;
}


.btn-more::after {
  font: var(--fa-font-solid);
  content: "\f061";
  padding-left: 5px;
 }

.btn-more {
  cursor: pointer;
}

.btn-more:hover {
  font-weight: 400;
  color: #b47b4a;
}


.btn-see-more {
  cursor: pointer;
  color: #d3d0d0;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 6px 10px;
  border: 1px solid #f1efef;
  background-color: #FBFBFB;
  border-radius: 3px;
}

.btn-see-more:hover {
  font-weight: 400;
  color: #b47b4a;
}

.btn-see-less {
  cursor: pointer;
  color: #d3d0d0;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 6px 10px;
  border: 1px solid #f1efef;
  background-color: #FBFBFB;
  border-radius: 3px;
}

.btn-see-less:hover {
  font-weight: 400;
  color: #b47b4a;
}
.btn-favourite {
  color: #b9b9b9;
  display:inline-block;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 40px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  background-color: #ebebeb;
  border-radius: 3px;
  }

.btn-favourite:hover {
  background-color: #b47b4a;
  color: #f5f5f5;
}

.btn-favourite:active {
  color: #b47b4a;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 16px 40px;
  border: 1px solid #dfdfdf;
  cursor: pointer;
  background-color: #ebebeb;
  border-radius: 5px;
}



.btn-add-favourite  {
  color: #b9b9b9;
  cursor: pointer;
  font-size: 20px;
}

.btn-add-favourite::before  {
 font: var(--fa-font-regular);
 content: "\f004";
 padding-left: 5px;
}

 .btn-add-favourite:hover:before {
  font: var(--fa-font-solid);
  content: "\f004";
  color: #b47b4a;
}

 .btn-add-favourite:active:before {
  font: var(--fa-font-solid);
  content: "\f004";
}


.btn-remove-favourite  {
  color: #b47b4a;
  cursor: pointer;
  font-size: 20px;
}

.btn-remove-favourite::before  {
  font: var(--fa-font-solid);
 content: "\f004";
 padding-left: 5px;
}

 .btn-remove-favourite:hover:before {
  font: var(--fa-font-solid);
  content: "\f004";
  color: #b9b9b9;
}

 .btn-remove-favourite:active:before {
  font: var(--fa-font-regular);
  content: "\f004";
  color: #b9b9b9;
}




/*------------------------------------*\
    #Images
\*------------------------------------*/


img {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}


.pop-img {
  overflow: hidden;
  height: 330px;
    max-height: 330px;
}

.pop-img img {
  height: 100%;
  width: auto;
}

.browse-img {
  overflow: hidden;
  height: 320px;
  max-height: 320px;
}

.browse-img img {
  height: 100%;
  width: auto;
}


.fav-img {
  overflow: hidden;
  height: 320px;
  max-height: 320px;
}

.fav-img img {
  height: 100%;
  width: auto;
}


/*------------------------------------*\
    #Section & Containers
\*------------------------------------*/

section {
  padding: 120px 0;
}

.section-title {
  margin-bottom: 10px;
  padding-bottom: 10px;
  position: relative;

  text-align: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}


/*------------------------------------*\
    #Grid
\*------------------------------------*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
}


.row-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: 0px -10px;
}

.col-space {
  display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
  width: 100%;
}

.content-col {
  width: 100%;
  margin-bottom: 30px;
}

.col-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

/*------------------------------------*\
    #Align and Spacing
\*------------------------------------*/

.text-center {
  text-align: center;
}


/*------------------------------------*\
    #Header and Nav
\*------------------------------------*/

.header-section {
  background-color: #281201;
  position: relative;
  display: block;
}

.header-section .container-test {
	display: block;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: transparent;
    top: 0;
    margin: 0;
    min-height: 50px;
}

.header-section .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

/* Logo ------------------ */

.logo {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  color: #ffffff;
  padding-top: 15px;
}

.logo span {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-size: 1.8em;
  font-weight: 700;
}


/* Nav ------------------ */



.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
  font-size: .9em;
	padding: .5em 1.5em;
  color: #ffffff;
}



/*------------------------------------*\
    #Section - Finder
\*------------------------------------*/
/* Home Page ------------------ */

.hero-bg {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74)),
  url("../img/header-bg.jpg");
  z-index: -1;
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-col-internal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.hero-text-internal {
width: 40%;
}

.search-bar-internal {
display: flex;
flex-direction: row;
border: none;
padding: 0;
width: 50%;
}

.subtitle-internal {
color: #ffffff;
font-size: 18px;
line-height: 32px;
font-style: italic;
}
.finder {
  /* min-height: 690px; */
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.finder h2 {
  color: #ffffff;
  padding-bottom: 30px;
}

.subtitle {
  color: #ffffff;
  font-size: 18px;
  line-height: 32px;
  padding-bottom: 50px;
}



.search-bar {
  z-index: 1;
  border: none;
  padding: 0;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.ui-autocomplete{
  z-index: 1;
  background: #ebebeb;
  color: #000;
  width: 400px;
  border-radius: 0px 0px 5px 5px;
  padding: 5px 25px;
}
.search-input {
  width: 80%;
  border: 1px solid #fff;
  display: block;
  padding: 9px 4px 9px 50px;
  font-weight: 400;
  line-height: 45px;
  height: 60px;
  border-radius: 5px 0px 0px 5px;
  text-transform: capitalize;
  background: transparent url("../img/search.svg") no-repeat 13px center;
  background-color: #fff;
}

.search-input:focus {
  box-shadow: 0 0 3px 0 #e9e9e9;
  border-color: #bb9356;
  outline: none;
}

.search-select{
  height: 60px;
  border: none;
  background: #fff;
  border-radius: 0px 5px 5px 0px;
}

/* Iternal Page ------------------ */

.finder-internal {
  /* min-height: 690px; */
  overflow: hidden;
  position: relative;
  z-index: 1;
  padding: 40px 0;
}

.finder-internal h2 {
  color: #ffffff;
  font-style: italic;
  font-size: 2em;
}

/*------------------------------------*\
    #Section - Featured
\*------------------------------------*/

.featured {
  padding-bottom: 10px;
}

/* .featured-text, .featured-image-col {
  width: 100%;
  margin-bottom: 30px;
} */
.featured-text {
  order: 2;
  margin-bottom: 20px;
}

.featured-image-col {
  overflow: hidden;
  order: 1;
  max-height: 360px;
  height: 360px;
  margin-bottom: 20px;
  border-radius: 3px;
}

.featured-image-col img {
  height: 100%;
  width: auto;
}

.featured-name {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #bb9356;
    margin-bottom: 20px;
}

.featured-text h3 {
  margin-bottom: 30px;
}

.featured-text p {
  line-height: 2.000em;
  margin-bottom: 50px;
}

/*------------------------------------*\
    #Section - Popular
\*------------------------------------*/

.popular {
  padding-top: 10px;
}

.popular-col {
  text-align: justify;
  overflow: hidden;
  transition: all 0.5s ease 0s;
  max-height: calc(50% - 30px);
}
/*------------------------------------*\
    #Section - Browse
\*------------------------------------*/


.browse-col {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.browse-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.filter span {
  color: #bb9356;
  display:inline-block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 5px;
  padding: 10px 40px;
  /* border: 1px solid #bb9356; */
  cursor: pointer;
  background-color: #ffffff;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 9%);
}

.filter span:hover {
  color: #fff;
  background-color: #bb9356;
}

.filter .active{
  color: #fff;
  background-color: #bb9356;
}

 #browse-gin-col, #browse-vodka-col, #browse-tequila-col {
  display: none;
}
/*------------------------------------*\
    #Section - Favourites
\*------------------------------------*/

.add-fav h5 {
  font-family: 'Inter', sans-serif;
  font-size: 1em;
  font-weight: 400;
  font-style: italic;
  color: #c3c3c3;
}



/*------------------------------------*\
    #Section - Product
\*------------------------------------*/


.product-text {
  order: 2;
  margin-bottom: 20px;
}

.product-image-col {
  overflow: hidden;
  order: 1;
  max-height: 360px;
  /* height: 360px; */
  margin-bottom: 20px;
  border-radius: 3px;
}

.product-image-col img {
  height: 100%;
  width: auto;
}

.product-name {
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #bb9356;
    margin-bottom: 20px;
}

.key-features {
  margin-bottom: 40px;
}


.key-features li {
  font-family: 'Inter', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #666666;
  margin-right: 20px;
}


.key-features-name {
  font-weight: 300;
  padding-right: 10px;
  color: #bb9356;
}



.product h4 {
  font-family: 'Playfair Display', serif;
  clear: both;
  line-height: 1.3em;
  color: #281201;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid #f2f2f2;
}

.product-text h3 {
  margin-bottom: 30px;
}

.product-text p {
  line-height: 2.000em;
  margin-bottom: 20px;
}

.product-text ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.product-text li {
  padding-bottom: 5px;
}

.base-img  {
  margin-top: 2em;
}


.product-ingredients {
  width: 100%;
  margin-bottom: 30px;
}

.product-ingredients ul {
  margin-top: 2em;
}

.product-ingredients li {
  margin-bottom: 15px;
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  font-weight: 300;
  color: #666666;
}

.product-method ol {
  list-style: none;
  counter-reset: item;
  margin-top: 2em;
}
.product-method li {
  counter-increment: item;
  margin-bottom: 10px;
}
.product-method li:before {
  margin-right: 10px;
  content: counter(item);
  width: 1em;
  text-align: center;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  color: #281201;
  font-weight: 700;
  font-size: 1.7em;
}

.measurement-item {
  margin-right: 10px;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  color: #281201;
  font-weight: 700;
  font-size: 1.2em;
}

.product-text .fa-heart {
  font-size: 1.5em;
  vertical-align: bottom;
  padding-right: 16px;
}

.product-method {
  width: 100%;
  margin-bottom: 30px;
}

/*------------------------------------*\
    #Item Cards
\*------------------------------------*/


.item-col {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  padding: 0px 10px;
}

.item-content {
  /* background-color: #ffffff; */
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  /* display: block; */
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgb(0 0 0 / 9%);
}

.item-img {
  overflow: hidden;
  /* height: 330px;
  max-height: 330px; */
  position: relative;

}

.item-img .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  /* height: 99%; */
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.item-content:hover .content-overlay{
  opacity: 1;
}


.item-content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content-details p {
  color: #fff;
  font-size: 0.8em;
  padding: 5px 10px;
  border: 1px solid #FBFBFB;
  text-transform: uppercase;
}

.fadeIn-bottom{
  top: 80%;
}

.item-content-text {
  display: inline-flex;
  margin-top: 15px;
  padding: 5px 15px;
  width: 100%;
}

.item-content-title {
  flex: 1 1 80%;
}

.item-content-favourite {
  flex: 1 1 10%;
}

.item-img img {
  height: auto;
  width: 100%;
}

/*------------------------------------*\
    #Footer
\*------------------------------------*/



footer {
  background-color: #281201;
  padding: 20px 0;
}

footer .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}


.logo-footer {
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  font-weight: 700;
  color: #ffffff;
  padding-top: 15px;
}

.logo-footer span {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 700;
}

.footer-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.footer-nav li {
	display: inline;
}
.footer-nav a {
	display: inline-block;
	padding: .5em 1.5em;
  color: #ffffff;
  text-transform: capitalize;
  font-size: .8em;
}







@media (min-width: 576px){
  .container {
      max-width: 540px;
  }
  .item-col {
    width: 50%;
  }
  .filter {
    flex-wrap: nowrap;
}

}

@media (min-width: 768px){
  .container {
    max-width: 720px;
  }

  .featured-col {
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;
    height: 100%;
    gap: 2%;
  }

  .featured-text {
    flex: 1 1 60%;
    order: 1;
  }

  .featured-image-col {
    flex: 1 1 40%;
    order: 2;
  }

  .product-col {
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    align-content: stretch;
    height: 100%;
    gap: 2%;
    margin-bottom: 50px;
  }

  .product-text {
    flex: 1 1 60%;
    /* flex-grow: 3; */
    order: 1;
  }

  .product-image-col {
    flex: 1 1 40%;
    order: 2;
  }

  .product-image-col img {
   height: auto;
    width: 100%;
}

  .product-base, .product-ingredients  {
    flex: 1 1 50%;
  }

  .product-method {
    flex: 1 1 100%;
  }

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .item-col {
    width: 25%;
  }
  .hero-col {
    padding: 0px 150px;
  }

  .browse .section-title {
    max-width: 80%;
  }

  .product-base, .product-ingredients  {
    flex: 1 1 25%;
  }

  .product-method {
    flex: 1 1 50%;
  }
}

@media (min-width: 1200px){
  .container {
      max-width: 1140px;
  }
}
